.overlay {
  position: absolute;
  inset: 0;
  z-index: 1;
  opacity: 0.6;
  background: #000;
}

.header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 110px;
  align-items: center;
  padding: 93px 50px 87px 50px;
}

.header__links-list {
  display: flex;
  gap: 35px;
  list-style: circle;
}

.header__links-list-item {
  color: #000;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: normal;
  white-space: nowrap;
}

.header__link {
  text-decoration: underline;
}

.header__link_active,
.footer__menu-link_active {
  text-decoration: none;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__logo {
  display: flex;
  justify-self: center;
  max-height: 110px;
}

.address {
  justify-self: end;
  padding-right: 8px;
  color: #000;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 24.3px; /* 135% */
}

.phone_number,
.e-mail_address {
  border-bottom: 1px solid;
  text-decoration: none;
}

.cover {
  position: relative;
  background-image: url(../images/cover.jpg);
  background-size: cover;
}

.cover__title {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 170px 50px 125px 50px;
  color: #fff;
  font-weight: 700;
  font-size: 100px;
  font-style: normal;
  line-height: 115%; /* 115px */
  letter-spacing: 30px;
  text-transform: uppercase;
}

.aligned-text_center {
  display: flex;
  justify-content: center;
  letter-spacing: 25px;
}

.aligned-text_right {
  display: flex;
  justify-content: end;
}

.letter-spacing-extended {
  display: inline-block;
  letter-spacing: 60px;
}

.no-letter-spacing {
  letter-spacing: 0px;
}

.cover__description {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 78px;
  padding: 0 55px 50px 0;
}

.cover__description-text {
  color: #fff;
  font-weight: 400;
  font-size: 22px;
  font-style: normal;
  line-height: 28px; /* 127.273% */
  text-align: center;
  text-transform: uppercase;
  word-spacing: 18px;
}

.cover__description-text-word-spacing-less-extended {
  word-spacing: 15px;
}

.bet-button {
  width: 257px;
  height: 52px;
  border: 1px solid #fff;
  color: #fff;
  font-weight: 400;
  font-size: 22px;
  font-style: normal;
  line-height: normal;
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;
}

.lots {
  padding: 180px 50px;
}

.lots__section-title {
  padding: 0 0 27px 40px;
  color: #000;
  font-weight: 700;
  font-size: 40px;
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  place-content: center space-between;
  gap: 25px;
  list-style: none;
}

.lots__card-list-item {
  flex-grow: 1;
  width: 430px;
  min-height: 450px;
}

.card-link {
  display: block;
  height: 100%;
}

.card {
  position: relative;
  height: 100%;
}

.card__title {
  position: absolute;
  inset: 50px 40px auto 40px;
  z-index: 2;
  color: #fff;
  font-weight: 700;
  font-size: 22px;
  font-style: normal;
  line-height: 120%; /* 26.4px */
  text-decoration-line: underline;
  text-transform: uppercase;
}

.card__text {
  position: absolute;
  inset: auto 40px 50px 40px;
  z-index: 2;
  color: #fff;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  line-height: 120%; /* 24px */
}

.lots__look-more-link {
  display: block;
  padding: 30px 0 0 40px;
  color: #000;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  line-height: normal;
}

.about {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 15px;
  padding: 0px 50px 180px 50px;
}

.about__logo {
  display: flex;
  place-items: center;
  justify-self: center;
  width: 240px;
  height: 240px;
  border-radius: 9999px;
  background-color: black;
}

.about__logo-image {
  height: 114px;
}

.about__title {
  padding: 100px 0;
  color: #000;
  font-weight: 700;
  font-size: 40px;
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
}

.about__text {
  color: #000;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  line-height: normal;
}

.add-padding-bottom {
  padding-bottom: 25px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 0 50px 90px;
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
}

.footer__menu-link {
  color: #000;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: normal;
}

.footer__social-list {
  display: flex;
  justify-content: space-between;
  gap: 48px;
  list-style: none;
}

.footer__social-icon {
  display: block;
  width: 48px;
  height: 48px;
}
